<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <link  rel = "stylesheet" type = "text/css" href = "assets/style.css"/>
    </head>
    <center>
    <body   onload = "exibe()">
        <div id = "topo">
            <div id = "titulo">
            <a style = "text-decoration: none;cursor: pointer;"  onclick="href=s;"> <h1 id = "h1">Carrinho</h1> </a>
            </div>
            <figure>
                <a href = "carrinho.html?id=">
                    <img src = "img/carrinho.png"  id = "imgCarrinho"/>
                </a>
                <div id = "quantidade">
                </div>
            </figure>
        </div>
        <h2 id = "subtitulo">Produtos</h2>
        <center>
         <div id = "noProdutos" style = "position:relative; top:150px; font-size:23px;"></div>
        <div id = "corpoProduto">
            <div id = "produtos01">
                <h3 id = "subtitu">Camiseta</h3>
                <img id = "camisas"/>
                <div id = "qtd">
                <span id = "quantidade2"></span>
                <span id = "precoUnitario"></span>
                <span id = "totalUnitario"></span>
                <span id = "totalCarrinho"></span>
                </div>
                <script>
                    var url = [100][100] = document.URL;

                    var u =  parseInt(url[68]+url[69]);

                    var img = [100][100] = document.URL;

                    var img01 = img[69] + img[70] + img[71]+ img[72]+ img[73]+ img[74]+ img[75]+ img[76]+ img[77]+ img[78]
                    + img[79]+ img[80]+ img[81]+ img[82]+ img[83]+ img[84];

                    var precoUnitario = url[85]+ url[86] + url[87] + url[88] + url[89];

                   parseInt(precoUnitario).toFixed(2);

                    totalUnitario = precoUnitario * u;
                    totalCarrinho = precoUnitario * u;

                    document.getElementById("camisas").src = img01;
                    document.getElementById("quantidade").innerHTML = u;

                    document.getElementById("quantidade2").innerHTML   = "Quantidade: " + u + ",";
                    document.getElementById("precoUnitario").innerHTML = "Preço unitario: " + precoUnitario + ",";
                    document.getElementById("totalUnitario").innerHTML = "Total: " + totalUnitario + ",";
                    document.getElementById("totalCarrinho").innerHTML = "Total Carrinho: " + totalCarrinho;

                    s = "home.html?" + u;
                    function remover(){
                        if (u != 0){
                        u -= 1;
                        document.getElementById("quantidade").innerHTML = u;
                        document.getElementById("quantidade2").innerHTML = u;
                        s = "home.html?" + u;
                        }
                    }
                    if (u > 1){
                        u += 0;
                        document.getElementById("quantidade").innerHTML = u;
                        document.getElementById("quantidade2").innerHTML = u;
                        s = "home.html?" + u;
                    }
                    function adicionar (){
                        if (u >= 0){
                        u += 1;
                        document.getElementById("quantidade").innerHTML = u;
                        document.getElementById("quantidade2").innerHTML = u;
                        s = "home.html?" + u;
                        totalUnitario += (precoUnitario * 1);
                        totalCarrinho +=  (precoUnitario * 1);
                        document.getElementById("quantidade2").innerHTML   = "Quantidade: " + u + ",";
                        document.getElementById("totalUnitario").innerHTML = "Total: " + totalUnitario.toFixed(2) + ",";
                        document.getElementById("totalCarrinho").innerHTML = "Total carrinho: " + totalCarrinho.toFixed(2);
                        }
                    }

                    function remover(){
                        if (u > 1){
                        u -= 1;
                        document.getElementById("quantidade").innerHTML = u;
                        document.getElementById("quantidade2").innerHTML = u;
                        s = "home.html?" + u;
                        totalUnitario -= (precoUnitario * 1);
                        totalCarrinho -=  (precoUnitario * 1);
                        document.getElementById("quantidade2").innerHTML   = "Quantidade: " + u + ",";
                        document.getElementById("totalUnitario").innerHTML = "Total: " + totalUnitario.toFixed(2) + ",";
                        document.getElementById("totalCarrinho").innerHTML = "Total carrinho: " + totalCarrinho.toFixed(2);
                        }
                     } 

                    if (u == 0){
                            var i = 1;
                            document.querySelector("#produtos01").style.display = "none";
                            document.getElementById("noProdutos").innerHTML = "Não há produtos";
                    }
                </script>
                <button id = "adicionar" onclick = "adicionar()">+</button>
                <button id = "remover" onclick="remover()">-</button>
            </div>
        </div>
        </center>
    </body>
    </center>
    </html> 