<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <link  rel = "stylesheet" type = "text/css" href = "assets/style.css"/>
    </head>
    <center>
    <body   onload = "exibe()">
        <div id = "topo">
            <div id = "titulo">
            <h1 id = "h1">Carrinho</h1>
            </div>
            <figure>
                <a onclick="href=n;">
                    <img src = "img/carrinho.png"  id = "imgCarrinho"/>
                </a>
                <div id = "quantidade">
                    <script type = "text/javascript">
                           var u = [100][100] = document.URL;
                           var inicioCarrinho = 0;
                           var inicioCarri = 0;
                        
                           var x = parseInt(u[64]+u[65]);
                           var img;
                           var precoUnitario;
                           function exibe (){
                               document.getElementById("quantidade").innerHTML = inicioCarri;
                               if (inicioCarri == 0){
                                n = "carrinho.html?" + inicioCarri;
                               }
                               if (u[64] > 0){
                                document.getElementById("quantidade").innerHTML = u[64];
                                }
                                if (x > 0){
                                     //x+=1;
                                     document.getElementById("quantidade").innerHTML = x;
                                     n = "carrinho.html?" + x;
                                } 
                            }
                            
                            function somar (param){

                                if (param == 1){
                                     img = "img/camisa01.png";
                                     precoUnitario = 50.89;
                                 }

                                if (param == 2){
                                     img = "img/camisa02.png";
                                     precoUnitario = 150.10;
                                 }

                                 if (param == 3){
                                     img = "img/camisa03.png";
                                     precoUnitario = 100.15;
                                 }

                                 if (param == 4){
                                     img = "img/camisa04.png";
                                     precoUnitario = 35.55;
                                 }

                                 if (param == 5){
                                     img = "img/camisa05.png";
                                     precoUnitario = 250.10;
                                 }

                                 inicioCarrinho += 1;
                                 document.getElementById("quantidade").innerHTML = inicioCarrinho;
                                 n = "carrinho.html?" + inicioCarrinho + img + precoUnitario;

                                 if (x > 0){
                                     x+=1;
                                     document.getElementById("quantidade").innerHTML = x;
                                     n = "carrinho.html?" + x;
                                 } 
                            }
                    </script>
                </div>
            </figure>
        </div>
        <div id = "corpo">
            <h2 id = "subtitulo">Camisetas</h2>
            <div id = "produtos">
                <figure>
                    <img name = "camisa01" src = "img/camisa01.png" id = "camisa01" alt = ""/>
                </figure>
                <figure>
                    <img name = "camisa02" src = "img/camisa02.png" id = "camisa02" alt = ""/>
                </figure>
                <figure>
                    <img name = "camisa03" src = "img/camisa03.png" id = "camisa03" alt = ""/>
                </figure>
                <figure>
                    <img name = "camisa04" src = "img/camisa04.png" id = "camisa04" alt = ""/>
                </figure>
                <figure>
                    <img name = "camisa05" src = "img/camisa05.png" id = "camisa05" alt = ""/>
                </figure>
            </div>
            <div id = "preco">
            <span id = "preco01">Preço 50,89</span>
            <span id = "preco02">Preço 150,10</span>
            <span id = "preco03">Preço 100,15</span>
            <span id = "preco04">Preço 35,55</span>
            <span id = "preco05">Preço 250,10</span>
            </div>
            <div id = "button">
                <button type = "submit" id = "button01" onclick = "somar(1)">Adicionar ao carrinho</button>
                <button type = "submit" id = "button02" onclick = "somar(2)">Adicionar ao carrinho</button>
                <button type = "submit" id = "button03" onclick = "somar(3)">Adicionar ao carrinho</button>
                <button type = "submit" id = "button04" onclick = "somar(4)">Adicionar ao carrinho</button>
                <button type = "submit" id = "button05" onclick = "somar(5)">Adicionar ao carrinho</button>
            </div>  
        </div>
    </body>
    </center>
    </html> 